@model Eticaret.Models.HomeViewModel;
<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
  id="layout-navbar">
  <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
      <i class="ti ti-menu-2 ti-sm"></i>
    </a>
  </div>

  <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
    <!-- Arama -->
    <div class="navbar-nav align-items-center">
      <div class="nav-item navbar-search-wrapper mb-0">
        <a class="nav-item nav-link search-toggler d-flex align-items-center px-0" href="javascript:void(0);">
          <i class="ti ti-search ti-md me-2"></i>
          <span class="d-none d-md-inline-block text-muted">Ara (Ctrl+/)</span>
        </a>
      </div>
    </div>
    <!-- /Arama -->

    <ul class="navbar-nav flex-row align-items-center ms-auto">


      <!-- Tema Değiştirici -->
      <li class="nav-item me-2 me-xl-0">
        <a class="nav-link style-switcher-toggle hide-arrow" href="javascript:void(0);">
          <i class="ti ti-md"></i>
        </a>
      </li>
      <!-- /Tema Değiştirici -->

      <!-- Sepet -->
      <li class="nav-item dropdown-cart navbar-dropdown dropdown me-3 me-xl-1">
        <a class="nav-link" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="ti ti-shopping-cart ti-md"></i>

          <span class="badge bg-danger rounded-pill badge-notifications" id="cart-count">@Model.SepetSayisi</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end py-0">
          <li class="dropdown-menu-header border-bottom">
            <div class="dropdown-header d-flex align-items-center py-3">
              <h5 class="text-body mb-0 me-auto">Sepetiniz</h5>
            </div>
          </li>
          <li class="dropdown-cart-list scrollable-container">
            <ul class="list-group list-group-flush">

              @if (Model?.SepetList != null && Model.SepetList.Any())
              {
                foreach (var sepetteki in Model.SepetList)
                {
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>@sepetteki.Urunler?.Name x @sepetteki.Quantity</span>
                    <span>₺@(sepetteki.Urunler?.Price * sepetteki.Quantity)</span>
                  </li>
                }
              }
              else
              {
                <li class="list-group-item">Sepetiniz boş</li>
              }



            </ul>
          </li>
          <li class="dropdown-menu-footer border-top">
            <a asp-action="Sepettekiler"
              class="dropdown-item d-flex justify-content-center text-primary p-2 h-px-40 align-items-center">
              Sepeti Görüntüle
            </a>
          </li>
        </ul>
      </li>
      <!-- /Sepet -->

      <!-- Kullanıcı -->
      <li class="nav-item navbar-dropdown dropdown-user dropdown">
        <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
          <div class="avatar avatar-online">
            <img src="../../assets/img/avatars/1.png" alt class="h-auto rounded-circle" />
          </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a class="dropdown-item" href="pages-profile-user.html">
              <i class="ti ti-user-check me-2 ti-sm"></i>
              <span class="align-middle">Profilim</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="pages-account-settings-account.html">
              <i class="ti ti-settings me-2 ti-sm"></i>
              <span class="align-middle">Ayarlar</span>
            </a>
          </li>
          <li>
            <div class="dropdown-divider"></div>
          </li>
          <li>
            <a class="dropdown-item" asp-action="cikisYap" asp-controller="Home">
              <i class="ti ti-logout me-2 ti-sm"></i>
              <span class="align-middle">Çıkış Yap</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- /Kullanıcı -->
    </ul>
  </div>

  <!-- Küçük ekranlarda arama -->
  <div class="navbar-search-wrapper search-input-wrapper d-none">
    <input type="text" class="form-control search-input container-xxl border-0" placeholder="Ara..."
      aria-label="Ara..." />
    <i class="ti ti-x ti-sm search-toggler cursor-pointer"></i>
  </div>
</nav>